* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, 'Arial Narrow Bold', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.body-list {
  padding: 0;
  padding-left: 0;
  margin: 0;
}